vti_encoding:SR|utf8-nl
vinavbar:VW|C:\\\\Arquivos\\ de\\ programas\\\\Arquivos\\ comuns\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\40\\\\bots\\\\vinavbar\\\\vinavbar.inf vinavbar E I info N C:\\\\Arquivos\\ de\\ programas\\\\Arquivos\\ comuns\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\40\\\\bots\\\\vinavbar\\\\fp4Avnb.dll
