/* CSS Document */

.titulos_lista_pesquisa{
	font-weight:bold;
	color:#090;
	background-color:#9f6;
}

.itens_tabela_banco{
	color:#c30;
}

.ordenacao_novo_registro{
	font-weight:bold;
	color:#00f;
}

.alterar_excluir{
	color: #906;
}

.borda_tabela{
	border-collapse:collapse;
	background-color:#999;
}

a:visited{
	text-decoration:none;
	color:#039;
}

a:link{
	text-decoration:none;
	color:#039;
}

.menu{
	color:#009;
	text-align:left;
}

.menu_hover{
	color:#009;
	text-align:left;
	background-color:#ccc;
}

.MostraProdutos
{
	width:165px;
	height:165px;
	padding:10px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
}

.campo_descricao{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

.campo_valor{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#c33;
}